Flow2.json
[{"id":"de47bff5.456bd8","type":"ui_button","z":"4ba34350.730bec","name":"","group":"fbfded41.a960a","order":0,"width":"2","height":"1","passthru":false,"label":"Event","color":"","bgcolor":"","icon":"","payload":"{\"lat\":28.430327, \"lon\":77.103229, \"assetID\":\"ABCD123\",\"DistanceTravelled\":\"500\",\"EquipProvider\":\"ABCD\",\"LoadCarried\":\"1000\",\"Status\":\"compliant\"}","payloadType":"str","topic":"","x":217,"y":168.5,"wires":[["740c692e.ab39e8"]]},{"id":"740c692e.ab39e8","type":"link out","z":"4ba34350.730bec","name":"","links":["36b70f9f.1f5c3"],"x":401,"y":169,"wires":[]},{"id":"92cf35b5.0a5a58","type":"ui_button","z":"4ba34350.730bec","name":"","group":"49555318.4376b4","order":0,"width":"2","height":"1","passthru":false,"label":"Event","color":"","bgcolor":"","icon":"","payload":"{\"lat\":28.439991, \"lon\":77.088744, \"assetID\":\"ABCD123\",\"DistanceTravelled\":\"700\",\"EquipProvider\":\"ABCD\",\"LoadCarried\":\"1500\",\"Status\":\"non-compliant\"}","payloadType":"str","topic":"","x":222,"y":260,"wires":[["23fa0d3a.62ed62"]]},{"id":"23fa0d3a.62ed62","type":"link out","z":"4ba34350.730bec","name":"","links":["36b70f9f.1f5c3"],"x":412,"y":260.5,"wires":[]},{"id":"47ce5ea7.ae8b58","type":"http request","z":"4ba34350.730bec","name":"","method":"GET","ret":"txt","url":"https://30dbb8f8e465485ea9869da94b505de9-vp0.us.blockchain.ibm.com:5003/chain","tls":"","x":447.0000305175781,"y":358.6428527832031,"wires":[["5a2649d4.1b357"]]},{"id":"5a2649d4.1b357","type":"debug","z":"4ba34350.730bec","name":"","active":true,"console":"false","complete":"false","x":693.2857666015625,"y":359.5714416503906,"wires":[]},{"id":"a2027a0b.66745","type":"ui_button","z":"4ba34350.730bec","name":"","group":"143b20df.e762ef","order":0,"width":"3","height":"1","passthru":false,"label":"Latest Block","color":"","bgcolor":"","icon":"","payload":"file:///Users/amarjeetsinghmundi/Desktop/blockchain-samples-master/applications/monitoring_ui/public/index.html","payloadType":"str","topic":"","x":246.4285888671875,"y":360.35711669921875,"wires":[["47ce5ea7.ae8b58"]]},{"id":"bcc6487c.09a2f","type":"ui_button","z":"4ba34350.730bec","name":"","group":"9a310476.fb54e8","order":0,"width":"3","height":"1","passthru":false,"label":"Latest Weather","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":259,"y":442.5,"wires":[["c11b0081.f18348"]]},{"id":"c11b0081.f18348","type":"link out","z":"4ba34350.730bec","name":"","links":["f94e0275.1ccce8"],"x":433,"y":443,"wires":[]},{"id":"f41c2fc4.2fb2f","type":"ui_template","z":"4ba34350.730bec","group":"775f4474.c1f51c","name":"Trucks","order":0,"width":"0","height":"0","format":"<img src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM_dU4qaIEbYNTycBb0DB1kA6DZlvWSRQrcWH3LQfGljFboJMi2g\" />","storeOutMessages":true,"fwdInMessages":true,"x":241,"y":536,"wires":[[]]},{"id":"fbfded41.a960a","type":"ui_group","z":"","name":"IoT Sensor","tab":"db0a8b84.8d5de8","order":8,"disp":true,"width":"3"},{"id":"49555318.4376b4","type":"ui_group","z":"","name":"IoT Sensor","tab":"db0a8b84.8d5de8","order":9,"disp":true,"width":"3"},{"id":"143b20df.e762ef","type":"ui_group","z":"","name":"Blockchain","tab":"db0a8b84.8d5de8","order":11,"disp":true,"width":"3"},{"id":"9a310476.fb54e8","type":"ui_group","z":"","name":"Latest Weather","tab":"db0a8b84.8d5de8","order":10,"disp":true,"width":"3"},{"id":"775f4474.c1f51c","type":"ui_group","z":"","name":"Leased Heavy Equipment","tab":"db0a8b84.8d5de8","order":1,"disp":true,"width":"6"},{"id":"db0a8b84.8d5de8","type":"ui_tab","z":"","name":"Assets Dashboard","icon":"dashboard","order":1}]