Flow1.json
[{"id":"12695e1c.4f2bd2","type":"debug","z":"7508784f.00c5d8","name":"","active":false,"console":"true","complete":"true","x":713.3929290771484,"y":153.98472785949707,"wires":[]},{"id":"64fd8348.2e559c","type":"inject","z":"7508784f.00c5d8","name":"LHE_Warehouse","topic":"","payload":"{\"lat\":28.430327, \"lon\":77.103229, \"assetID\":\"ABCD123\",\"DistanceTravelled\":\"500\",\"EquipProvider\":\"ABCD\",\"LoadCarried\":\"1000\",\"Status\":\"compliant\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":142.14286041259766,"y":123.73462867736816,"wires":[["28cd63ca.f75ccc"]]},{"id":"28cd63ca.f75ccc","type":"json","z":"7508784f.00c5d8","name":"","x":345.14281845092773,"y":213.73465538024902,"wires":[["41d80cef.70c354","28fcd302.82799c","6cb57337.27a0dc","105462cf.d0e3fd","af2cb2d.e5d18d"]]},{"id":"41d80cef.70c354","type":"function","z":"7508784f.00c5d8","name":"Extract Location","func":"msg.location = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":434.142822265625,"y":134.73467540740967,"wires":[["670bd8ba.982ea8","ab6a0f69.9692","35ecf6ca.e5d81a"]]},{"id":"9e61319.3857dd","type":"inject","z":"7508784f.00c5d8","name":"Unknow Location","topic":"","payload":"{\"lat\":28.439991, \"lon\":77.088744, \"assetID\":\"ABCD123\",\"DistanceTravelled\":\"700\",\"EquipProvider\":\"ABCD\",\"LoadCarried\":\"1500\",\"Status\":\"non-compliant\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.19146728515625,"y":235.02981567382812,"wires":[["28cd63ca.f75ccc"]]},{"id":"670bd8ba.982ea8","type":"geofence","z":"7508784f.00c5d8","name":"Geofence","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":28.42953665646441,"longitude":77.10272416436055},{"latitude":28.431036806614355,"longitude":77.10272416436055},{"latitude":28.431036806614355,"longitude":77.10372194611409},{"latitude":28.42953665646441,"longitude":77.10372194611409}],"centre":{},"x":524.5317535400391,"y":213.86662101745605,"wires":[["12695e1c.4f2bd2","d1863861.397f08"]]},{"id":"fc171e90.8a12c","type":"inject","z":"7508784f.00c5d8","name":"Adjacent Plot","topic":"","payload":"{\"lat\":28.430486, \"lon\":77.101411, \"assetID\":12345}","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.76786041259766,"y":309.45336151123047,"wires":[["28cd63ca.f75ccc"]]},{"id":"fdf99ca9.7ddd6","type":"switch","z":"7508784f.00c5d8","name":"inarea","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":816.3427963256836,"y":245.24462985992432,"wires":[["ba7a3bc5.5d9398"],["aab5ae50.6c05c"]]},{"id":"d1863861.397f08","type":"function","z":"7508784f.00c5d8","name":"Extract Inarea","func":"return {payload:msg.payload.inarea};","outputs":1,"noerr":0,"x":635.5248031616211,"y":272.0714473724365,"wires":[["fdf99ca9.7ddd6"]]},{"id":"aab5ae50.6c05c","type":"template","z":"7508784f.00c5d8","name":"Inarea=1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Since inarea is {{payload}} Lease Heavy Equipment is inside the warehouse","x":931.094409942627,"y":317.4299373626709,"wires":[["bfc0419e.3859d","915123db.ea51","6e541022.2a6b5"]]},{"id":"ba7a3bc5.5d9398","type":"template","z":"7508784f.00c5d8","name":"Inarea=0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Since inarea is {{payload}} Lease Heavy Equipment is outside the warehouse","x":943.5943412780762,"y":183.67563819885254,"wires":[["d84abf5d.7f956","d520cfea.7706b8","6e541022.2a6b5"]]},{"id":"bfc0419e.3859d","type":"debug","z":"7508784f.00c5d8","name":"","active":true,"console":"false","complete":"false","x":908.0076904296875,"y":459.8127746582031,"wires":[]},{"id":"d84abf5d.7f956","type":"debug","z":"7508784f.00c5d8","name":"","active":true,"console":"false","complete":"false","x":875.2058525085449,"y":60.00000476837158,"wires":[]},{"id":"6e541022.2a6b5","type":"watson-text-to-speech","z":"7508784f.00c5d8","name":"Watson Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/wav","password":"0Ka8nGh2gDMs","x":1222.9345703125,"y":251.63153076171875,"wires":[["931e52e.19591b"]]},{"id":"ded5208a.a801d","type":"play audio","z":"7508784f.00c5d8","name":"","x":1503.367919921875,"y":348.59075927734375,"wires":[]},{"id":"931e52e.19591b","type":"change","z":"7508784f.00c5d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"},{"t":"delete","p":"speech","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1466.443603515625,"y":252.3814697265625,"wires":[["ded5208a.a801d"]]},{"id":"ab6a0f69.9692","type":"function","z":"7508784f.00c5d8","name":"Extract lat","func":"return {payload:msg.payload.lat};","outputs":1,"noerr":0,"x":396.10125732421875,"y":415.07550048828125,"wires":[["19616789.e3fec8","7ad7b8fb.a20318"]]},{"id":"35ecf6ca.e5d81a","type":"function","z":"7508784f.00c5d8","name":"Extract lon","func":"return {payload:msg.payload.lon};","outputs":1,"noerr":0,"x":330.39185333251953,"y":511.6617317199707,"wires":[["915410a8.698c9","eb797b23.766b18"]]},{"id":"19616789.e3fec8","type":"ui_text","z":"7508784f.00c5d8","group":"fabd5e47.11a5e","order":1,"width":"0","height":"0","name":"","label":"Latitude","format":"{{msg.payload}}","layout":"row-spread","x":715.830322265625,"y":466.4127197265625,"wires":[]},{"id":"915410a8.698c9","type":"ui_text","z":"7508784f.00c5d8","group":"fabd5e47.11a5e","order":3,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"row-spread","x":526.1012802124023,"y":585.5456638336182,"wires":[]},{"id":"7ad7b8fb.a20318","type":"ui_chart","z":"7508784f.00c5d8","name":"","group":"fabd5e47.11a5e","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#2e85d0","#aec7e8","#ff7f0e","#00ff00","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":742.672607421875,"y":573.950439453125,"wires":[[],[]]},{"id":"eb797b23.766b18","type":"ui_chart","z":"7508784f.00c5d8","name":"","group":"fabd5e47.11a5e","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1e7cbd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":521.815559387207,"y":650.5754671096802,"wires":[[],[]]},{"id":"595e09d4.9bf8a8","type":"ui_gauge","z":"7508784f.00c5d8","name":"","group":"894291d9.0c261","order":0,"width":0,"height":0,"gtype":"gage","title":"Metric Tonne (MT)","label":"units","format":"{{value}}","min":0,"max":"1700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1102.767822265625,"y":891.0079956054688,"wires":[]},{"id":"40b9f28.fc2fe0c","type":"ui_gauge","z":"7508784f.00c5d8","name":"","group":"35b71b2f.3389e4","order":0,"width":0,"height":0,"gtype":"gage","title":"KMS","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1071.391845703125,"y":804.2819213867188,"wires":[]},{"id":"712d0015.ba7488","type":"inject","z":"7508784f.00c5d8","name":"For Blockchain","topic":"","payload":"{\"assetID\":\"123\",\"DistanceTravelled\":500,\"EquipProvider\":\"CAT\",\"Status\":\"compliant\",\"LoadCarried\":1200,\"lat\":1,\"lon\":2}","payloadType":"str","repeat":"","crontab":"","once":false,"x":137.49996948242188,"y":397.08331298828125,"wires":[["28cd63ca.f75ccc"]]},{"id":"ce5f0196.84e5d8","type":"ibmiot out","z":"7508784f.00c5d8","authentication":"apiKey","apiKey":"1b399d26.72fa8b","outputType":"evt","deviceId":"LHE","deviceType":"LHE_Devices","eventCommandType":"blink","format":"json","data":"LHE:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":1395.333251953125,"y":483.33319091796875,"wires":[]},{"id":"915123db.ea51","type":"function","z":"7508784f.00c5d8","name":"compliant","func":"// Truck's location:\nvar latitude = \"28.430327\";\nvar longitude = \"77.103229\";\nvar assetID = \"ABCD123\";\nvar Status = \"compliant\";\nvar DistanceTravelled = \"500\";\nvar EquipProvider = \"ABCD\";\nvar LoadCarried = \"1000\";\n\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Array of pseudo random relative humidities\n//var asset1 = [\"123\",\"456\",\"789\"];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        //\"temp\" : temp1[counter1],\n        //\"humidity\" : humidity1[counter1],\n        \"assetID\"  : assetID,\n        \"Status\" : Status,\n        \"DistanceTravelled\" : DistanceTravelled,\n        \"EquipProvider\": EquipProvider,\n        \"LoadCarried\": LoadCarried,\n        \"location\" :\n        {\n          \"latitude\" : latitude,\n          \"longitude\" : longitude\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1140.333251953125,"y":401.66656494140625,"wires":[["557e977b.a4c8d","ce5f0196.84e5d8"]]},{"id":"557e977b.a4c8d","type":"debug","z":"7508784f.00c5d8","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":1403.3333740234375,"y":157.99993896484375,"wires":[]},{"id":"d520cfea.7706b8","type":"function","z":"7508784f.00c5d8","name":"non-compliant","func":"// Truck's location:\nvar latitude = \"28.439991\";\nvar longitude = \"77.088744\";\nvar assetID = \"ABCD123\";\nvar Status = \"non-compliant\";\nvar DistanceTravelled = \"700\";\nvar EquipProvider = \"ABCD\";\nvar LoadCarried = \"1500\";\n\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Array of pseudo random relative humidities\n//var asset1 = [\"123\",\"456\",\"789\"];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        //\"temp\" : temp1[counter1],\n        //\"humidity\" : humidity1[counter1],\n        \"assetID\"  : assetID,\n        \"Status\" : Status,\n        \"DistanceTravelled\" : DistanceTravelled,\n        \"EquipProvider\": EquipProvider,\n        \"LoadCarried\": LoadCarried,\n        \"location\" :\n        {\n          \"latitude\" : latitude,\n          \"longitude\" : longitude\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":1145.6666259765625,"y":109.6666259765625,"wires":[["557e977b.a4c8d","ce5f0196.84e5d8"]]},{"id":"28fcd302.82799c","type":"function","z":"7508784f.00c5d8","name":"Extract assetID","func":"return {payload:msg.payload.assetID};","outputs":1,"noerr":0,"x":232,"y":724,"wires":[["16bbf039.3bc138"]]},{"id":"16bbf039.3bc138","type":"ui_text","z":"7508784f.00c5d8","group":"d6c0b36d.054d","order":0,"width":"0","height":"0","name":"","label":"Asset ID","format":"{{msg.payload}}","layout":"col-center","x":471,"y":724.5,"wires":[]},{"id":"6cb57337.27a0dc","type":"function","z":"7508784f.00c5d8","name":"Status","func":"return {payload:msg.payload.Status};","outputs":1,"noerr":0,"x":302,"y":866,"wires":[["3316538f.2035bc"]]},{"id":"3316538f.2035bc","type":"ui_text","z":"7508784f.00c5d8","group":"d6c0b36d.054d","order":0,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-center","x":541,"y":866.5,"wires":[]},{"id":"105462cf.d0e3fd","type":"function","z":"7508784f.00c5d8","name":"Extract Load Carried","func":"return {payload:msg.payload.LoadCarried};","outputs":1,"noerr":0,"x":828,"y":892,"wires":[["595e09d4.9bf8a8"]]},{"id":"af2cb2d.e5d18d","type":"function","z":"7508784f.00c5d8","name":"Extract Distance Travelled","func":"return {payload:msg.payload.DistanceTravelled};","outputs":1,"noerr":0,"x":832,"y":804,"wires":[["40b9f28.fc2fe0c"]]},{"id":"3aabb503.8aa792","type":"ui_template","z":"7508784f.00c5d8","group":"b095ef1b.c919d8","name":"SLA","order":0,"width":0,"height":0,"format":"<div layout=”row” layout-align=”space-between”>\n<span flex><b>Asset type</b></span>\n<span flex><b>Load Carried Slab</b></span>\n<span flex><b>Distance Travelled Slab</b></span>\n<span flex><b>Addn Cost %</b></span>\n</div>\n<div layout=”row” layout-align=”space-between”>\n<span flex style=”color: green”>ABCD1234</span>\n<span flex style=”color: red”>100-500</span>\n<span flex style=”color: black”>500-1000</span>\n<span flex style=”color: black”>0%</span>\n</div>\n<div layout=”row” layout-align=”space-between”>\n<span flex style=”color: green”>ABCD1234</span>\n<span flex style=”color: red”>500-1000</span>\n<span flex style=”color: black”>1000-1500</span>\n<span flex style=”color: black”>10%</span>\n</div>\n<div layout=”row” layout-align=”space-between”>\n<span flex style=”color: green”>ABCD1234</span>\n<span flex style=”color: red”>1000-1500</span>\n<span flex style=”color: black”>1500-2000</span>\n<span flex style=”color: black”>15%</span>\n</div>\n<div layout=”row” layout-align=”space-between”>\n<span flex style=”color: green”>ABCD1234</span>\n<span flex style=”color: red”>1500-2000</span>\n<span flex style=”color: black”>2000-2500</span>\n<span flex style=”color: black”>20%</span>\n</div>\n<div layout=”row” layout-align=”space-between”>\n<span flex style=”color: green”>ABCD1234</span>\n<span flex style=”color: red”>2000-2500</span>\n<span flex style=”color: black”>2500-3000</span>\n<span flex style=”color: black”>25%</span>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"x":1169,"y":618,"wires":[[]]},{"id":"e7733e27.208db","type":"inject","z":"7508784f.00c5d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":981,"y":618,"wires":[["3aabb503.8aa792"]]},{"id":"beb9bdd1.d577","type":"ui_text","z":"7508784f.00c5d8","group":"7c167896.cbafa","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1465,"y":1012.5,"wires":[]},{"id":"86ca288c.cef568","type":"inject","z":"7508784f.00c5d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":531,"y":986.5,"wires":[["e0b88674.6333c"]]},{"id":"e0b88674.6333c","type":"http request","z":"7508784f.00c5d8","name":"Get Current Weather","method":"GET","ret":"obj","url":"https://d921603e-eebd-4894-b6a6-d7d98ec0b889:ilm91T71Eg@twcservice.mybluemix.net/api/weather/v1/geocode/28.430327/77.103229/observations.json?language=en-US","tls":"","x":765,"y":987.5,"wires":[["d121ed9b.be2078","2b1ffe20.53b5da"]]},{"id":"41ac5b30.5f4624","type":"debug","z":"7508784f.00c5d8","name":"","active":true,"console":"false","complete":"false","x":1435,"y":935,"wires":[]},{"id":"d121ed9b.be2078","type":"function","z":"7508784f.00c5d8","name":"Extract Temp","func":"global.set(\"weather\",msg.payload.observation.temp); \nreturn {payload:msg.payload.observation.temp};","outputs":1,"noerr":0,"x":1031,"y":1031.5,"wires":[["545a115f.ac84"]]},{"id":"545a115f.ac84","type":"template","z":"7508784f.00c5d8","name":"Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Temperature: {{payload}} degree Fahrenheit!","x":1277,"y":1015.5,"wires":[["41ac5b30.5f4624","beb9bdd1.d577"]]},{"id":"2b1ffe20.53b5da","type":"function","z":"7508784f.00c5d8","name":"Extract phrase","func":"global.set(\"weather\",msg.payload.observation.wx_phrase); \nreturn {payload:msg.payload.observation.wx_phrase};","outputs":1,"noerr":0,"x":1049,"y":1089.5,"wires":[["b8a77897.0b7e9"]]},{"id":"b8a77897.0b7e9","type":"template","z":"7508784f.00c5d8","name":"Condition","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Condition: {{payload}}","x":1286,"y":1078,"wires":[["41ac5b30.5f4624"]]},{"id":"36b70f9f.1f5c3","type":"link in","z":"7508784f.00c5d8","name":"","links":["740c692e.ab39e8","23fa0d3a.62ed62"],"x":116.99999999999997,"y":180.49999999999997,"wires":[["28cd63ca.f75ccc"]]},{"id":"f94e0275.1ccce8","type":"link in","z":"7508784f.00c5d8","name":"","links":["c11b0081.f18348"],"x":510.9999999999999,"y":1054.4999999999998,"wires":[["e0b88674.6333c"]]},{"id":"fabd5e47.11a5e","type":"ui_group","z":"","name":"GPS Location","tab":"db0a8b84.8d5de8","order":4,"disp":true,"width":"5"},{"id":"894291d9.0c261","type":"ui_group","z":"","name":"Load Carried","tab":"db0a8b84.8d5de8","order":2,"disp":true,"width":"6"},{"id":"35b71b2f.3389e4","type":"ui_group","z":"","name":"Distance Travelled","tab":"db0a8b84.8d5de8","order":3,"disp":true,"width":"6"},{"id":"1b399d26.72fa8b","type":"ibmiot","z":"7508784f.00c5d8","name":"LHE_Key","keepalive":"60","domain":"","cleansession":false,"appId":"","shared":false},{"id":"d6c0b36d.054d","type":"ui_group","z":"","name":"Asset Details","tab":"db0a8b84.8d5de8","order":5,"disp":true,"width":"6"},{"id":"b095ef1b.c919d8","type":"ui_group","z":"","name":"SLA Thresholds","tab":"db0a8b84.8d5de8","order":7,"disp":true,"width":"18"},{"id":"7c167896.cbafa","type":"ui_group","z":"","name":"Weather update","tab":"db0a8b84.8d5de8","order":12,"disp":true,"width":"6"},{"id":"db0a8b84.8d5de8","type":"ui_tab","z":"","name":"Assets Dashboard","icon":"dashboard","order":1}]